.collector {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 12px;
    background: #999999;
    color: white;
    border-radius: 8px;
    padding: 8px;
}

.collector p:first-child {
    margin: 0;
    color: #ffbb42;
    font-size: 12px;
    cursor: pointer;
}

.collector p:last-child {
    margin: 0;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}